.alert {
    border-radius: .25rem;
    position: fixed;
    top: 4rem;
    color: $white;
    font-weight: bold;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    z-index: 11;
    right: 3.2rem;
    gap: 2rem;
    max-width: 100%;

    @media (max-width: 48.0625em) and (min-width: 30.625em), (min-width: 45.625em) {
        right: 2rem;
    }

    @media (max-width: 768px) {
        right: 3.2rem;
        left: 3.2rem;
    }

    @media (max-width: 744px) {
        right: 2rem;
        left: 2rem;
    }

    @media (max-width: 490px) {
        right: 5px;
        left: 5px;
    }
    
    i {
        color: $white;
    }

    &--succes {
        background: $green-gradient;
    }

    &--error {
        background-color: $primary;
    }
}