
.problem {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    line-height: 1.2;
    position: relative;
    width: 100%;
    justify-content: space-between;

    &__qr-link {
        height: fit-content;
        svg {
            display: flex;
            align-items: flex-start;
            max-width: 150px;
            width: auto;
        }
    }

    &__content-container {
        width: 100%;
    }

    &__video {
        padding-bottom: 56.25%;
        position: relative;
        max-width: 100%;
        height: 0; 
        overflow: hidden;
        margin-bottom: 1rem;

        iframe {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
    }

    &__text {
        margin-bottom: 1rem;
        padding-right: 3rem;
    }

    &__text-edit {
        position: absolute;
        right: 0;
        top: 0;
        padding: 1rem 1rem 0 0;

        &:hover {
            cursor: pointer;
            color: $primary;
        }

        &.open {
            color: $primary;
        }
    }

    &__images {
        padding-left: 1rem;
    }

    &__image {
        max-width: 100%;

        &-container {
            position: relative;
        }

        &-edit {
            position: absolute;
            right: 0;
            top: 0;
    
            &:hover {
                cursor: pointer;
                color: $primary;
            }
    
            &.open {
                color: $primary;
            }
        }
    }

    &__subquestion {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-right: 2rem;
        margin-left: 1rem;
    }

    &__choices {
        display: flex;
        flex-direction: column;
        // flex-direction: row;
        // flex-wrap: wrap;
        gap: .75rem;
        margin: 1rem 0 0 1rem;
        padding-right: 2rem;

        &--with-images {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 0;
            align-items: flex-end;

            &--single{
                .problem__choice {
                    width: 65%;
                }
            }
            &--half {
                .problem__choice {
                    width: 50%;
                }
            }
            &--thrid {
                .problem__choice {
                    width: 33.33%;
                }
            }
            &--quarter {
                .problem__choice {
                    width: 25%;
                }
            }
        }
    }

    &__choice {
        position: relative; 
        width: 100%;
        
        .choice {
            &__text {
                position: relative;
                display: inline-block;
                padding-right: 2rem;
                margin-bottom: 1rem;
            }

            &__text-edit {
                position: absolute;
                right: 0;
                top: 0;
        
                &:hover {
                    cursor: pointer;
                    color: $primary;
                }
        
                &.open {
                    color: $primary;
                }
            }
            &__image {
                max-width: 100%;
            }
            &__input {
                display: flex;
                gap: .75rem;

                input:checked + label {
                    color: red; 
                }

                &--correct {
                    input:checked + label {
                       color: green; 
                    }
                }
            }
            &__label {
                bottom: 0;
                left: 0;
                position: absolute;
            }
        }
    }

    &__approve {
        font-size: 3rem;
        margin-left: 1rem;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__approval-status {
        font-size: 1rem;
        &--approved {
            color: green;
        }
        &--unapproved {
            color: red;
        }
    }

    &__btns {
        display: flex;
        justify-content: flex-end;
    }
}


.drag-handle {
    font-size: 1.125rem;
    color: rgb(175, 175, 175);
    
    &:hover {
        cursor: pointer;
        opacity: .7;
    }
}