.problems-section {
    border-radius: .5rem;
    padding: 2rem;
    background-color: $white;
    box-shadow: rgba(23, 24, 24, 0.05) 0px 0px 5px 0px, rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
    outline: 0.1rem solid transparent;
    position: relative;

    + * {
        margin-top: 1rem;
    }

    &__logo {
        position: absolute;
        top: 1rem;
        right: 0;
        max-height: 2.5rem;
        background-color: $dark-primary;
        padding: .75rem;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__actions {
        display: flex;
        gap: 1.25rem;
        justify-content: flex-end;
        position: sticky;
        top: 3rem;
        padding: 1rem 0;
        background: #F6F6F7;
        z-index: 10;
        border-bottom: 1px solid black;
        margin: 0 -3px;
    }

    &__edit, &__print, &__preview {
        font-size: 1.25rem;
        &:hover {
            cursor: pointer;
            color: $primary;
        }

        &.active {
            color: $primary;
        }
    }
    &__add-new {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: 2rem;
        margin-bottom: 3rem;

        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }

        i {
            opacity: .4;
        }
    }

    &__equations {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
        padding: 1.5rem;
        border-radius: .75rem;
        border: 2.5px solid rgba($black, .2);
        margin: 1.5rem 0;
        position: relative;

        &-title {
            position: absolute;
            bottom: 100%;
            background: $white;
            z-index: 1;
            padding: .5rem .75rem;
            left: .75rem;
            transform: translateY(46%);
            text-transform: uppercase;
            font-size: .75rem;
            font-weight: bold;
            color: rgba($black, .5);
        }
    }

    &__equation {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        
        &-name {
            font-weight: bold;
            font-size: .875rem;
            text-transform: uppercase;
        }
        &-latex {
            padding-left: .75rem;
            position: relative;
        }
    }

}

.solutions-table {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.5rem;
    position: relative;

    &__title {
        position: absolute;
        bottom: 100%;
        background: $white;
        z-index: 1;
        padding: .5rem .75rem;
        left: .25rem;
        transform: translateY(46%);
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: bold;
        color: rgba($black, .5);
    }

    &__number {
        font-size: 1.125rem;
        font-weight: bold;
        display: block;
    }

    &__item {
        padding: 1rem;
        width: 25%;
        border-left: 1px solid $black;
        border-bottom: 1px solid $black;

        &:last-child {
            border-right: 1px solid $black; 
        }

        &:nth-child(2) {
            border-top: 1px solid $black;
        }

        &:nth-child(3) {
            border-top: 1px solid $black;
        }

        &:nth-child(4) {
            border-top: 1px solid $black;
        }

        &:nth-child(5) {
            border-top: 1px solid $black;
        }

        &:nth-child(4n+1) {
            border-right: 1px solid $black;
        }
    }
}