
.problem {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    line-height: 1.2;
    position: relative;
    width: 100%;
    justify-content: space-between;

    &__qr-link {
        height: fit-content;
        svg {
            display: flex;
            align-items: flex-start;
            max-width: 150px;
            width: auto;
        }
    }

    &__content-container {
        width: 100%;
    }

    &__text {
        margin-bottom: 1rem;
        padding-right: 3rem;
    }

    &__text-edit {
        position: absolute;
        right: 0;
        top: 0;
        padding: 1rem 1rem 0 0;

        &:hover {
            cursor: pointer;
            color: $primary;
        }

        &.open {
            color: $primary;
        }
    }

    &__images {
        padding-left: 1rem;
    }

    &__image {
        max-width: 100%;
        &-container {
            max-width: 25%;
            position: relative;
        }

        &-edit {
            position: absolute;
            right: 0;
            top: 0;
    
            &:hover {
                cursor: pointer;
                color: $primary;
            }
    
            &.open {
                color: $primary;
            }
        }
    }

    &__subquestion {
        position: relative
    }

    &__choices {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        margin: 1rem 0 0 1rem;
        padding-right: 2rem;

        &--with-images {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 0;

            &--single{
                .problem__choice {
                    width: 65%;
                }
            }
            &--half {
                .problem__choice {
                    width: 50%;
                }
            }
            &--thrid {
                .problem__choice {
                    width: 33.33%;
                }
            }
            &--quarter {
                .problem__choice {
                    width: 25%;
                }
            }
        }
    }

    &__choice {
        position: relative; 
        width: max-content;
        
        .choice {
            &__text {
                position: relative;
                display: inline-block;
                padding-right: 2rem;
                margin-bottom: 1rem;
            }

            &__text-edit {
                position: absolute;
                right: 0;
                top: 0;
        
                &:hover {
                    cursor: pointer;
                    color: $primary;
                }
        
                &.open {
                    color: $primary;
                }
            }
            &__image {
                max-width: 100%;
            }
        }
    }
}


.drag-handle {
    font-size: 1.125rem;
    color: rgb(175, 175, 175);
    
    &:hover {
        cursor: pointer;
        opacity: .7;
    }
}