@media print {
    body * {
        visibility: hidden;
        font-size: 14px;
    }
    #printThis, #printThis * {
        visibility: visible;
        break-inside: avoid;
    }
    #printThis .problem {
    }
    #printThis {
        padding: 10px;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 14px;
    }
    .problems-section {
        box-shadow: none !important;
    }
    .btn, button, .problems-section.problems-section__add-new {
        display:none !important;
    }
  }