@media print {
    body * {
        // visibility: hidden;
        font-size: 14px;
    }
    #printThis, #printThis * {
        visibility: visible;
    }
    #printThis {
        padding: 0;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 14px;

        .problem, .drag-item {
            break-inside: avoid;
        }
    }
    .problems-section {
        box-shadow: none !important;
    }

    .problems-section__actions {
        display: none !important;
    }
    .btn, button, .problems-section.problems-section__add-new {
        display: none !important;
    }
    @page {
        // padding: 2rem;
        size: auto;
        margin: 3mm 1mm 3mm 1mm; 
    }
}


  