/*!*************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/resolve-url-loader/index.js!./node_modules/sass-loader/dist/cjs.js!./frontend/src/print.scss ***!
  \*************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  border-radius: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1290px;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.Polaris-Badge {
  white-space: nowrap !important;
  height: fit-content !important;
}

.Polaris-FormLayout__Item > div {
  height: auto !important;
  margin-bottom: 2rem !important;
}

.problem {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  line-height: 1.2;
  position: relative;
  width: 100%;
  justify-content: space-between;
}
.problem--importer {
  padding: 1rem;
}
.problem__qr-link {
  height: fit-content;
}
.problem__qr-link svg {
  display: flex;
  align-items: flex-start;
  max-width: 150px;
  width: auto;
}
.problem__content-container {
  width: 100%;
}
.problem__video {
  padding-bottom: 56.25%;
  position: relative;
  max-width: 100%;
  height: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}
.problem__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.problem__text {
  margin-bottom: 1rem;
  padding-right: 3rem;
}
.problem__text-edit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem 1rem 0 0;
}
.problem__text-edit:hover {
  cursor: pointer;
  color: #EC5958;
}
.problem__text-edit.open {
  color: #EC5958;
}
.problem__images {
  padding-left: 1rem;
}
.problem__image {
  max-width: 100%;
}
.problem__image-container {
  position: relative;
}
.problem__image-edit {
  position: absolute;
  right: 0;
  top: 0;
}
.problem__image-edit:hover {
  cursor: pointer;
  color: #EC5958;
}
.problem__image-edit.open {
  color: #EC5958;
}
.problem__subquestion {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  margin-left: 1rem;
}
.problem__choice {
  position: relative;
  width: 100%;
}
.problem__choice .choice__text {
  position: relative;
  display: inline-block;
  padding-right: 2rem;
  margin-bottom: 1rem;
}
.problem__choice .choice__text-edit {
  position: absolute;
  right: 0;
  top: 0;
}
.problem__choice .choice__text-edit:hover {
  cursor: pointer;
  color: #EC5958;
}
.problem__choice .choice__text-edit.open {
  color: #EC5958;
}
.problem__choice .choice__image {
  max-width: 100%;
}
.problem__choice .choice__input {
  display: flex;
  gap: 0.75rem;
}
.problem__choice .choice__input input:checked + label {
  color: red;
}
.problem__choice .choice__input--correct input:checked + label {
  color: green;
}
.problem__choice .choice__label {
  bottom: 0;
  left: 0.75rem;
  position: absolute;
}
.problem__choices {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1rem 0 0 1rem;
  padding-right: 2rem;
}
.problem__choices--horizontal {
  flex-direction: row;
}
.problem__choices--with-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0;
  align-items: flex-end;
}
.problem__choices--with-images .problem__choice {
  padding: 0 0 1rem 1.5rem;
}
.problem__choices--with-images--single .problem__choice {
  width: 65%;
}
.problem__choices--with-images--half .problem__choice {
  width: 50%;
}
.problem__choices--with-images--third .problem__choice {
  width: 33.33%;
}
.problem__choices--with-images--quarter .problem__choice {
  width: 25%;
}
.problem__approve {
  font-size: 3rem;
  margin-left: 1rem;
}
.problem__footer {
  display: flex;
  justify-content: space-between;
}
.problem__approval-status {
  font-size: 1rem;
}
.problem__approval-status--approved {
  color: green;
}
.problem__approval-status--unapproved {
  color: red;
}
.problem__btns {
  display: flex;
  justify-content: flex-end;
}

.drag-handle {
  font-size: 1.125rem;
  color: #afafaf;
}
.drag-handle:hover {
  cursor: pointer;
  opacity: 0.7;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.problems-section {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #FFFFFF;
  box-shadow: rgba(23, 24, 24, 0.05) 0px 0px 5px 0px, rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
  outline: 0.1rem solid transparent;
  position: relative;
}
.problems-section + * {
  margin-top: 1rem;
}
.problems-section__logo {
  position: absolute;
  top: 1rem;
  right: 0;
  max-height: 2.5rem;
  background-color: #383838;
  padding: 0.75rem;
}
.problems-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.problems-section__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.problems-section__actions {
  display: flex;
  gap: 1.25rem;
  justify-content: flex-end;
  position: sticky;
  top: 3rem;
  padding: 1rem 0;
  background: #F6F6F7;
  z-index: 10;
  border-bottom: 1px solid black;
  margin: 0 -3px;
}
.problems-section__edit, .problems-section__print, .problems-section__preview {
  font-size: 1.25rem;
}
.problems-section__edit:hover, .problems-section__print:hover, .problems-section__preview:hover {
  cursor: pointer;
  color: #EC5958;
}
.problems-section__edit.active, .problems-section__print.active, .problems-section__preview.active {
  color: #EC5958;
}
.problems-section__add-new {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 2rem;
  margin-bottom: 3rem;
}
.problems-section__add-new:hover {
  opacity: 0.6;
  cursor: pointer;
}
.problems-section__add-new i {
  opacity: 0.4;
}
.problems-section__equations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 2.5px solid rgba(0, 0, 0, 0.2);
  margin: 1.5rem 0;
  position: relative;
}
.problems-section__equations-title {
  position: absolute;
  bottom: 100%;
  background: #FFFFFF;
  z-index: 1;
  padding: 0.5rem 0.75rem;
  left: 0.75rem;
  transform: translateY(46%);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
.problems-section__equation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}
.problems-section__equation-name {
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.problems-section__equation-latex {
  padding-left: 0.75rem;
  position: relative;
}

.solutions-table {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.5rem;
  position: relative;
}
.solutions-table__title {
  position: absolute;
  bottom: 100%;
  background: #FFFFFF;
  z-index: 1;
  padding: 0.5rem 0.75rem;
  left: 0.25rem;
  transform: translateY(46%);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
.solutions-table__number {
  font-size: 1.125rem;
  font-weight: bold;
  display: block;
}
.solutions-table__item {
  padding: 1rem;
  width: 25%;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.solutions-table__item:last-child {
  border-right: 1px solid #000000;
}
.solutions-table__item:nth-child(2) {
  border-top: 1px solid #000000;
}
.solutions-table__item:nth-child(3) {
  border-top: 1px solid #000000;
}
.solutions-table__item:nth-child(4) {
  border-top: 1px solid #000000;
}
.solutions-table__item:nth-child(5) {
  border-top: 1px solid #000000;
}
.solutions-table__item:nth-child(4n+1) {
  border-right: 1px solid #000000;
}

.CtxtMenu_InfoClose {
  top: 0.2em;
  right: 0.2em;
}

.CtxtMenu_InfoContent {
  overflow: auto;
  text-align: left;
  font-size: 80%;
  padding: 0.4em 0.6em;
  border: 1px inset;
  margin: 1em 0px;
  max-height: 20em;
  max-width: 30em;
  background-color: #EEEEEE;
  white-space: normal;
}

.CtxtMenu_Info.CtxtMenu_MousePost {
  outline: none;
}

.CtxtMenu_Info {
  position: fixed;
  left: 50%;
  width: auto;
  text-align: center;
  border: 3px outset;
  padding: 1em 2em;
  background-color: #DDDDDD;
  color: black;
  cursor: default;
  font-family: message-box;
  font-size: 120%;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  float: none;
  z-index: 201;
  border-radius: 15px;
  /* Opera 10.5 and IE9 */
  -webkit-border-radius: 15px;
  /* Safari and Chrome */
  -moz-border-radius: 15px;
  /* Firefox */
  -khtml-border-radius: 15px;
  /* Konqueror */
  box-shadow: 0px 10px 20px #808080;
  /* Opera 10.5 and IE9 */
  -webkit-box-shadow: 0px 10px 20px #808080;
  /* Safari 3 & Chrome */
  -moz-box-shadow: 0px 10px 20px #808080;
  /* Forefox 3.5 */
  -khtml-box-shadow: 0px 10px 20px #808080;
  /* Konqueror */
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color="gray", Positive="true");
  /* IE */
}

.CtxtMenu_MenuClose {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  border: 2px solid #AAA;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  /* Safari and Chrome */
  -moz-border-radius: 18px;
  /* Firefox */
  -khtml-border-radius: 18px;
  /* Konqueror */
  font-family: "Courier New", Courier;
  font-size: 24px;
  color: #F0F0F0;
}

.CtxtMenu_MenuClose span {
  display: block;
  background-color: #AAA;
  border: 1.5px solid;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  /* Safari and Chrome */
  -moz-border-radius: 18px;
  /* Firefox */
  -khtml-border-radius: 18px;
  /* Konqueror */
  line-height: 0;
  padding: 8px 0 6px;
}

.CtxtMenu_MenuClose:hover {
  color: white !important;
  border: 2px solid #CCC !important;
}

.CtxtMenu_MenuClose:hover span {
  background-color: #CCC !important;
}

.CtxtMenu_MenuClose:hover:focus {
  outline: none;
}

.CtxtMenu_Menu {
  position: absolute;
  background-color: white;
  color: black;
  width: auto;
  padding: 5px 0px;
  border: 1px solid #CCCCCC;
  margin: 0;
  cursor: default;
  font: menu;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  float: none;
  z-index: 201;
  border-radius: 5px;
  /* Opera 10.5 and IE9 */
  -webkit-border-radius: 5px;
  /* Safari and Chrome */
  -moz-border-radius: 5px;
  /* Firefox */
  -khtml-border-radius: 5px;
  /* Konqueror */
  box-shadow: 0px 10px 20px #808080;
  /* Opera 10.5 and IE9 */
  -webkit-box-shadow: 0px 10px 20px #808080;
  /* Safari 3 & Chrome */
  -moz-box-shadow: 0px 10px 20px #808080;
  /* Forefox 3.5 */
  -khtml-box-shadow: 0px 10px 20px #808080;
  /* Konqueror */
}

.CtxtMenu_MenuItem {
  padding: 1px 2em;
  background: transparent;
}

.CtxtMenu_MenuArrow {
  position: absolute;
  right: 0.5em;
  padding-top: 0.25em;
  color: #666666;
  font-size: 0.75em;
}

.CtxtMenu_MenuActive .CtxtMenu_MenuArrow {
  color: white;
}

.CtxtMenu_MenuArrow.CtxtMenu_RTL {
  left: 0.5em;
  right: auto;
}

.CtxtMenu_MenuCheck {
  position: absolute;
  left: 0.7em;
}

.CtxtMenu_MenuCheck.CtxtMenu_RTL {
  right: 0.7em;
  left: auto;
}

.CtxtMenu_MenuRadioCheck {
  position: absolute;
  left: 0.7em;
}

.CtxtMenu_MenuRadioCheck.CtxtMenu_RTL {
  right: 0.7em;
  left: auto;
}

.CtxtMenu_MenuInputBox {
  padding-left: 1em;
  right: 0.5em;
  color: #666666;
}

.CtxtMenu_MenuInputBox.CtxtMenu_RTL {
  left: 0.1em;
}

.CtxtMenu_MenuComboBox {
  left: 0.1em;
  padding-bottom: 0.5em;
}

.CtxtMenu_MenuSlider {
  left: 0.1em;
}

.CtxtMenu_SliderValue {
  position: absolute;
  right: 0.1em;
  padding-top: 0.25em;
  color: #333333;
  font-size: 0.75em;
}

.CtxtMenu_SliderBar {
  outline: none;
  background: #d3d3d3;
}

.CtxtMenu_MenuLabel {
  padding: 1px 2em 3px 1.33em;
  font-style: italic;
}

.CtxtMenu_MenuRule {
  border-top: 1px solid #DDDDDD;
  margin: 4px 3px;
}

.CtxtMenu_MenuDisabled {
  color: GrayText;
}

.CtxtMenu_MenuActive {
  background-color: #606872;
  color: white;
}

.CtxtMenu_MenuDisabled:focus {
  background-color: #E8E8E8;
}

.CtxtMenu_MenuLabel:focus {
  background-color: #E8E8E8;
}

.CtxtMenu_ContextMenu:focus {
  outline: none;
}

.CtxtMenu_ContextMenu .CtxtMenu_MenuItem:focus {
  outline: none;
}

.CtxtMenu_SelectionMenu {
  position: relative;
  float: left;
  border-bottom: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
}

.CtxtMenu_SelectionItem {
  padding-right: 1em;
}

.CtxtMenu_Selection {
  right: 40%;
  width: 50%;
}

.CtxtMenu_SelectionBox {
  padding: 0em;
  max-height: 20em;
  max-width: none;
  background-color: #FFFFFF;
}

.CtxtMenu_SelectionDivider {
  clear: both;
  border-top: 2px solid #000000;
}

.CtxtMenu_Menu .CtxtMenu_MenuClose {
  top: -10px;
  left: -10px;
}

mjx-container[jax=SVG] {
  direction: ltr;
}

mjx-container[jax=SVG] > svg {
  overflow: visible;
  min-height: 1px;
  min-width: 1px;
}

mjx-container[jax=SVG] > svg a {
  fill: blue;
  stroke: blue;
}

mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mjx-assistive-mml[display=block] {
  width: 100% !important;
}

mjx-container[jax=SVG][display=true] {
  display: block;
  text-align: center;
  margin: 1em 0;
}

mjx-container[jax=SVG][display=true][width=full] {
  display: flex;
}

mjx-container[jax=SVG][justify=left] {
  text-align: left;
}

mjx-container[jax=SVG][justify=right] {
  text-align: right;
}

g[data-mml-node=merror] > g {
  fill: red;
  stroke: red;
}

g[data-mml-node=merror] > rect[data-background] {
  fill: yellow;
  stroke: none;
}

g[data-mml-node=mtable] > line[data-line],
svg[data-table] > g > line[data-line] {
  stroke-width: 70px;
  fill: none;
}

g[data-mml-node=mtable] > rect[data-frame],
svg[data-table] > g > rect[data-frame] {
  stroke-width: 70px;
  fill: none;
}

g[data-mml-node=mtable] > .mjx-dashed,
svg[data-table] > g > .mjx-dashed {
  stroke-dasharray: 140;
}

g[data-mml-node=mtable] > .mjx-dotted,
svg[data-table] > g > .mjx-dotted {
  stroke-linecap: round;
  stroke-dasharray: 0, 140;
}

g[data-mml-node=mtable] > g > svg {
  overflow: visible;
}

[jax=SVG] mjx-tool {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
}

[jax=SVG] mjx-tool > mjx-tip {
  position: absolute;
  top: 0;
  left: 0;
}

mjx-tool > mjx-tip {
  display: inline-block;
  padding: 0.2em;
  border: 1px solid #888;
  font-size: 70%;
  background-color: #f8f8f8;
  color: black;
  box-shadow: 2px 2px 5px #aaaaaa;
}

g[data-mml-node=maction][data-toggle] {
  cursor: pointer;
}

mjx-status {
  display: block;
  position: fixed;
  left: 1em;
  bottom: 1em;
  min-width: 25%;
  padding: 0.2em 0.4em;
  border: 1px solid #888;
  font-size: 90%;
  background-color: #f8f8f8;
  color: black;
}

foreignObject[data-mjx-xml] {
  font-family: initial;
  line-height: normal;
  overflow: visible;
}

mjx-container[jax=SVG] path[data-c],
mjx-container[jax=SVG] use[data-c] {
  stroke-width: 3;
}

.only-print {
  display: block !important;
}

@media print {
  @page {
    size: 210mm 297mm;
    margin: 70px 0;
    font-size: 12px;
  }
  @page :left {
    @top-left {
      content: url(2a396ce3886af48fd48b.svg);
    }
    @bottom-left {
      content: url(9d4065ecde6ad722f60c.svg);
    }
    @bottom-right {
      content: counter(page);
      margin-right: 50px;
      margin-top: 18px;
    }
  }
  @page :right {
    @top-left {
      content: url(2484b2072be841e25973.svg);
    }
    @bottom-left {
      content: url(062def6b086f2779e3ac.svg);
    }
    @bottom-right {
      content: counter(page);
      margin-right: 736px;
      margin-top: 18px;
    }
  }
  .only-print {
    display: block !important;
  }

  .frontcover {
    page: cover;
    content: url(32f0771d14213e115271.png);
    width: 100%;
    height: 100%;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt !important;
  }

  .problem, .drag-item {
    break-inside: avoid;
  }

  .problem {
    font-size: 9pt !important;
    line-height: 1.3 !important;
    padding: 5px 4px;
  }
  .problem__image-container img {
    max-height: 150px;
    max-width: 450px;
  }

  .solutions-table__item {
    break-before: alawys;
    font-size: 9pt !important;
  }
  .solutions-table__item .problem__image-container img {
    max-height: 70px;
    max-width: 45mm;
  }

  svg {
    fill: #000000;
    color: #000000;
    z-index: 999999999;
  }

  .btn, button {
    display: none !important;
  }

  .problem__qr-link {
    display: block;
  }
  .problem__qr-link svg {
    margin-right: 2rem;
    height: 100px;
    width: 100px;
  }

  .problems-section {
    box-shadow: none !important;
    font-size: 9pt !important;
    counter-increment: section;
  }
  .problems-section__equations > .problems-section__equation {
    margin-right: 3.5rem;
  }
  .problems-section__equations > .problems-section__equation:last-child {
    margin-right: 0;
  }
  .problems-section__actions, .problems-section__add-new {
    display: none !important;
  }
  .problems-section__link {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    font-size: 9pt;
  }
  .problems-section__link:after {
    content: leader(".") counter(page);
    font-size: 80%;
  }
  .problems-section__equation-latex {
    padding: 1rem 0 0.25rem 0;
    font-size: 11pt !important;
  }
  .problems-section__equation-name {
    margin-bottom: 0.375rem;
    font-size: 9pt !important;
  }

  .solutions-table {
    font-size: 9pt !important;
  }
  .solutions-table__number {
    margin-bottom: 10px;
  }
  .solutions-table__item {
    min-width: 20%;
    width: 100%;
    max-width: 25%;
  }
  .solutions-table__item > div > div, .solutions-table__item > div > span {
    padding: 0 0 0.5rem 0;
    font-size: 9pt !important;
  }
  .solutions-table__item:nth-child(4n+1) {
    border-right: 0;
  }
  .solutions-table__item:nth-child(2) {
    border-top: 1px solid #000000;
  }
  .solutions-table__item:nth-child(3) {
    border-top: 1px solid #000000;
  }
  .solutions-table__item:nth-child(4) {
    border-top: 1px solid #000000;
  }
  .solutions-table__item:nth-child(5) {
    border-top: 1px solid #000000;
  }
  .solutions-table__item:nth-child(4n+1) {
    border-right: 1px solid #000000;
  }
  .solutions-table__item:last-child {
    border-right: 1px solid #000000;
  }
}

/*# sourceMappingURL=print.css.map*/