# created by virtualenv automatically
bin/
lib/
src/node_modules/

# Django #
*.log
*.pot
*.pyc
__pycache__
problems/static/problems/images/


# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/*
*.py[cod]
*.pyc
*.*.pyc


# databse model images
src/*.png
src/backups/


# random assets? bog zna sta je ovo i od kud to tu
frontend/static/assets/
frontend/static/assets/*
./assets/
assets/