<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gradivo.hr</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "assets/main.css" %}">
</head>
<body>
    <div id="main">
        <div id="app"></div>
    </div>
</body>
<script src="{% static "assets/main.js" %}"></script>
{% csrf_token %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
</html>