/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./frontend/src/index.scss ***!
  \******************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  border-radius: none;
}

.container {
  max-width: 1290px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 1rem;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.btn--primary {
  background: linear-gradient(#E052A0, #F15C41);
  color: #FFFFFF;
}
.btn--save {
  background: linear-gradient(#4BBC4F, #81E585);
  color: #FFFFFF;
}

textarea {
  border-radius: 0.25rem;
  border: 1px solid #1F364D;
  width: 100%;
  min-height: 150px;
  padding: 0.75rem;
  font-size: 1rem;
}

.header {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  background-color: #1F364D;
  border-bottom: 1px solid #FFFFFF;
  display: none;
}
.header__user {
  display: flex;
  gap: 1rem;
  position: relative;
  background-color: #0E2539;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: #FFFFFF;
  align-items: center;
}
.header__user:hover {
  background-color: #051B2E;
  cursor: pointer;
}
.header__user .user__icon {
  border-radius: 9999px;
  background: linear-gradient(#E052A0, #F15C41);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.header__user .user__dropdown {
  display: none;
}
.header__user .user__dropdown.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #051B2E;
  color: #FFFFFF;
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 1.25rem;
}
.header__user .user__dropdown-item {
  padding: 0.5rem 0;
}
.header__user .user__dropdown-item:hover {
  background-color: #051B2E;
}

.Polaris-TopBar, .Polaris-Frame__TopBar {
  height: 3rem !important;
}

.Polaris-Frame__Main {
  padding-top: 3rem !important;
}

@media print {
  body * {
    visibility: hidden;
    font-size: 14px;
  }

  #printThis, #printThis * {
    visibility: visible;
  }

  #printThis {
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
  }
  #printThis .problem, #printThis .drag-item {
    break-inside: avoid;
  }

  .problems-section {
    box-shadow: none !important;
  }

  .problems-section__actions {
    display: none !important;
  }

  .btn, button, .problems-section.problems-section__add-new {
    display: none !important;
  }

  @page {
    size: auto;
    margin: 3mm 1mm 3mm 1mm;
  }
}
.problem {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  line-height: 1.2;
  position: relative;
  width: 100%;
  justify-content: space-between;
}
.problem__qr-link {
  height: fit-content;
}
.problem__qr-link svg {
  display: flex;
  align-items: flex-start;
  max-width: 150px;
  width: auto;
}
.problem__content-container {
  width: 100%;
}
.problem__video {
  padding-bottom: 56.25%;
  position: relative;
  max-width: 100%;
  height: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}
.problem__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.problem__text {
  margin-bottom: 1rem;
  padding-right: 3rem;
}
.problem__text-edit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem 1rem 0 0;
}
.problem__text-edit:hover {
  cursor: pointer;
  color: #EC5958;
}
.problem__text-edit.open {
  color: #EC5958;
}
.problem__images {
  padding-left: 1rem;
}
.problem__image {
  max-width: 100%;
}
.problem__image-container {
  position: relative;
}
.problem__image-edit {
  position: absolute;
  right: 0;
  top: 0;
}
.problem__image-edit:hover {
  cursor: pointer;
  color: #EC5958;
}
.problem__image-edit.open {
  color: #EC5958;
}
.problem__subquestion {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  margin-left: 1rem;
}
.problem__choice {
  position: relative;
  width: 100%;
}
.problem__choice .choice__text {
  position: relative;
  display: inline-block;
  padding-right: 2rem;
  margin-bottom: 1rem;
}
.problem__choice .choice__text-edit {
  position: absolute;
  right: 0;
  top: 0;
}
.problem__choice .choice__text-edit:hover {
  cursor: pointer;
  color: #EC5958;
}
.problem__choice .choice__text-edit.open {
  color: #EC5958;
}
.problem__choice .choice__image {
  max-width: 100%;
}
.problem__choice .choice__input {
  display: flex;
  gap: 0.75rem;
}
.problem__choice .choice__input input:checked + label {
  color: red;
}
.problem__choice .choice__input--correct input:checked + label {
  color: green;
}
.problem__choice .choice__label {
  bottom: 0;
  left: 0;
  position: absolute;
}
.problem__choices {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1rem 0 0 1rem;
  padding-right: 2rem;
}
.problem__choices--with-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0;
  align-items: flex-end;
}
.problem__choices--with-images--single .problem__choice {
  width: 65%;
}
.problem__choices--with-images--half .problem__choice {
  width: 50%;
}
.problem__choices--with-images--third .problem__choice {
  width: 33.33%;
}
.problem__choices--with-images--quarter .problem__choice {
  width: 25%;
}
.problem__approve {
  font-size: 3rem;
  margin-left: 1rem;
}
.problem__footer {
  display: flex;
  justify-content: space-between;
}
.problem__approval-status {
  font-size: 1rem;
}
.problem__approval-status--approved {
  color: green;
}
.problem__approval-status--unapproved {
  color: red;
}
.problem__btns {
  display: flex;
  justify-content: flex-end;
}

.drag-handle {
  font-size: 1.125rem;
  color: #afafaf;
}
.drag-handle:hover {
  cursor: pointer;
  opacity: 0.7;
}

.problems-section {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #FFFFFF;
  box-shadow: rgba(23, 24, 24, 0.05) 0px 0px 5px 0px, rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
  outline: 0.1rem solid transparent;
}
.problems-section + * {
  margin-top: 1rem;
}
.problems-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.problems-section__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.problems-section__actions {
  display: flex;
  gap: 1.25rem;
  justify-content: flex-end;
  position: sticky;
  top: 3rem;
  padding: 1rem 0;
  background: #F6F6F7;
  z-index: 10;
  border-bottom: 1px solid black;
  margin: 0 -3px;
}
.problems-section__edit, .problems-section__print, .problems-section__preview {
  font-size: 1.25rem;
}
.problems-section__edit:hover, .problems-section__print:hover, .problems-section__preview:hover {
  cursor: pointer;
  color: #EC5958;
}
.problems-section__edit.active, .problems-section__print.active, .problems-section__preview.active {
  color: #EC5958;
}
.problems-section__add-new {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 2rem;
  margin-bottom: 3rem;
}
.problems-section__add-new:hover {
  opacity: 0.6;
  cursor: pointer;
}
.problems-section__add-new i {
  opacity: 0.4;
}
.problems-section__equations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 2.5px solid rgba(0, 0, 0, 0.2);
  margin: 1.5rem 0;
  position: relative;
}
.problems-section__equations-title {
  position: absolute;
  bottom: 100%;
  background: #FFFFFF;
  z-index: 1;
  padding: 0.5rem 0.75rem;
  left: 0.75rem;
  transform: translateY(46%);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
.problems-section__equation {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.problems-section__equation-name {
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.problems-section__equation-latex {
  padding-left: 0.75rem;
}

.solutions-table {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.5rem;
  position: relative;
}
.solutions-table__title {
  position: absolute;
  bottom: 100%;
  background: #FFFFFF;
  z-index: 1;
  padding: 0.5rem 0.75rem;
  left: 0.25rem;
  transform: translateY(46%);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
.solutions-table__number {
  font-size: 1.125rem;
  font-weight: bold;
  display: block;
}
.solutions-table__item {
  padding: 1rem;
  width: 25%;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.solutions-table__item:last-child {
  border-right: 1px solid #000000;
}
.solutions-table__item:nth-child(2) {
  border-top: 1px solid #000000;
}
.solutions-table__item:nth-child(3) {
  border-top: 1px solid #000000;
}
.solutions-table__item:nth-child(4) {
  border-top: 1px solid #000000;
}
.solutions-table__item:nth-child(5) {
  border-top: 1px solid #000000;
}
.solutions-table__item:nth-child(4n+1) {
  border-right: 1px solid #000000;
}

.matura__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  position: sticky;
  top: 3rem;
  background: #F6F6F7;
  z-index: 10;
  border-bottom: 1px solid black;
  margin: 0 -3px;
}
.matura__actions {
  display: flex;
  gap: 1rem;
}
.matura__actions.fixed {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  left: 0;
  border-bottom: 1px solid black;
  padding-right: 1rem;
}

.alert {
  border-radius: 0.25rem;
  position: fixed;
  top: 4rem;
  color: #FFFFFF;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  z-index: 11;
  right: 3.2rem;
  gap: 2rem;
  max-width: 100%;
}
@media (max-width: 48.0625em) and (min-width: 30.625em), (min-width: 45.625em) {
  .alert {
    right: 2rem;
  }
}
@media (max-width: 768px) {
  .alert {
    right: 3.2rem;
    left: 3.2rem;
  }
}
@media (max-width: 744px) {
  .alert {
    right: 2rem;
    left: 2rem;
  }
}
@media (max-width: 490px) {
  .alert {
    right: 5px;
    left: 5px;
  }
}
.alert button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.alert i {
  color: #FFFFFF;
}
.alert--succes {
  background: linear-gradient(#4BBC4F, #81E585);
}
.alert--error {
  background-color: #EC5958;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 280px;
  background-color: #FFFFFF;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  min-height: 100vh;
}
@media (max-width: 576px) {
  .sidebar {
    transform: translateX(-100%);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
  }
}
.sidebar--closed {
  transform: translateX(-100%);
}
@media (max-width: 576px) {
  .sidebar--closed {
    transform: translateX(0);
  }
}
.sidebar__toggle {
  font-size: 1.5rem;
  position: absolute;
  left: 100%;
  padding: 1rem;
  background-color: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
}
.sidebar__toggle:hover {
  cursor: pointer;
}
.sidebar__toggle:hover i {
  opacity: 0.7;
}
.sidebar__section {
  margin-bottom: 1rem;
  padding: 1rem;
}
.sidebar__section:first-of-type {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}
.sidebar__title {
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.sidebar__title a {
  text-decoration: none;
}
.sidebar__link a {
  padding: 1rem;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.page {
  display: flex;
}
.page__inner {
  padding: 5rem 2rem 2rem;
  flex: 1;
}

@media screen {
  :root {
    font-size: 16px !important;
  }
}

/*# sourceMappingURL=main.css.map*/