/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./frontend/src/index.scss ***!
  \******************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  border-radius: none;
}

.container {
  max-width: 1290px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
}
.btn:hover {
  opacity: 0.8;
}
.btn--primary {
  background: linear-gradient(#E052A0, #F15C41);
  color: #FFFFFF;
}
.btn--save {
  background: linear-gradient(#4BBC4F, #81E585);
  color: #FFFFFF;
}

textarea {
  border-radius: 0.25rem;
  border: 1px solid #1F364D;
  width: 100%;
  min-height: 150px;
  padding: 0.75rem;
  font-size: 1rem;
}

.header {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  background-color: #1F364D;
  border-bottom: 1px solid #FFFFFF;
}
.header__user {
  display: flex;
  gap: 1rem;
  position: relative;
  background-color: #0E2539;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: #FFFFFF;
  align-items: center;
}
.header__user:hover {
  background-color: #051B2E;
  cursor: pointer;
}
.header__user .user__icon {
  border-radius: 9999px;
  background: linear-gradient(#E052A0, #F15C41);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.header__user .user__dropdown {
  display: none;
}
.header__user .user__dropdown.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #051B2E;
  color: #FFFFFF;
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 1.25rem;
}
.header__user .user__dropdown-item {
  padding: 0.5rem 0;
}
.header__user .user__dropdown-item:hover {
  background-color: #051B2E;
}

@media print {
  body * {
    visibility: hidden;
    font-size: 14px;
  }

  #printThis, #printThis * {
    visibility: visible;
    break-inside: avoid;
  }

  #printThis {
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
  }
}
.problem {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  line-height: 1.2;
  position: relative;
  width: 100%;
  justify-content: space-between;
}
.problem__qr-link {
  height: fit-content;
}
.problem__qr-link svg {
  display: flex;
  align-items: flex-start;
  max-width: 150px;
  width: auto;
}
.problem__content-container {
  width: 100%;
}
.problem__text {
  margin-bottom: 1rem;
  padding-right: 3rem;
}
.problem__text-edit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem 1rem 0 0;
}
.problem__text-edit:hover {
  cursor: pointer;
  color: #EC5958;
}
.problem__text-edit.open {
  color: #EC5958;
}
.problem__images {
  padding-left: 1rem;
}
.problem__image {
  max-width: 100%;
}
.problem__image-container {
  max-width: 25%;
  position: relative;
}
.problem__image-edit {
  position: absolute;
  right: 0;
  top: 0;
}
.problem__image-edit:hover {
  cursor: pointer;
  color: #EC5958;
}
.problem__image-edit.open {
  color: #EC5958;
}
.problem__subquestion {
  position: relative;
}
.problem__choices {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1rem 0 0 1rem;
  padding-right: 2rem;
}
.problem__choices--with-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0;
}
.problem__choices--with-images--single .problem__choice {
  width: 65%;
}
.problem__choices--with-images--half .problem__choice {
  width: 50%;
}
.problem__choices--with-images--thrid .problem__choice {
  width: 33.33%;
}
.problem__choices--with-images--quarter .problem__choice {
  width: 25%;
}
.problem__choice {
  position: relative;
  width: max-content;
}
.problem__choice .choice__text {
  position: relative;
  display: inline-block;
  padding-right: 2rem;
  margin-bottom: 1rem;
}
.problem__choice .choice__text-edit {
  position: absolute;
  right: 0;
  top: 0;
}
.problem__choice .choice__text-edit:hover {
  cursor: pointer;
  color: #EC5958;
}
.problem__choice .choice__text-edit.open {
  color: #EC5958;
}
.problem__choice .choice__image {
  max-width: 100%;
}

.drag-handle {
  font-size: 1.125rem;
  color: #afafaf;
}
.drag-handle:hover {
  cursor: pointer;
  opacity: 0.7;
}

.problems-section {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #FFFFFF;
  box-shadow: rgba(23, 24, 24, 0.05) 0px 0px 5px 0px, rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
  outline: 0.1rem solid transparent;
}
.problems-section + * {
  margin-top: 1rem;
}
.problems-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.problems-section__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.problems-section__actions {
  display: flex;
  gap: 1.25rem;
}
.problems-section__edit, .problems-section__print {
  font-size: 1.25rem;
}
.problems-section__edit:hover, .problems-section__print:hover {
  cursor: pointer;
  color: #EC5958;
}
.problems-section__edit.active, .problems-section__print.active {
  color: #EC5958;
}
.problems-section__add-new {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 2rem;
  margin-bottom: 3rem;
}
.problems-section__add-new:hover {
  opacity: 0.6;
  cursor: pointer;
}
.problems-section__add-new i {
  opacity: 0.4;
}

@media screen {
  :root {
    font-size: 16px !important;
  }
}

/*# sourceMappingURL=main.css.map*/