.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-weight: bold;
    font-size: 1rem;

    &:hover {
        opacity: .8;
        cursor: pointer;
    }

    &--primary {
        background: $primary-gradient;
        color: $white;
    }

    &--save {
        background: $green-gradient;
        color: $white;
    }
}