$primary: #EC5958;
$primary-gradient: linear-gradient(#E052A0, #F15C41);
$secondary: #0E2539;

$green-gradient: linear-gradient(#4BBC4F, #81E585);

$white: #FFFFFF;
$black: #000000;

$blue-dark: #051B2E;
$blue-light: #1F364D;

$dark-primary: #383838;


.container {
    max-width: 1290px;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.Polaris-Badge {
    white-space: nowrap !important;
    height: fit-content !important;
}