$primary: #EC5958;
$primary-gradient: linear-gradient(#E052A0, #F15C41);
$secondary: #0E2539;

$green-gradient: linear-gradient(#4BBC4F, #81E585);

$white: #FFFFFF;
$black: #000000;

$blue-dark: #051B2E;
$blue-light: #1F364D;

$dark-primary: #383838;


.container {
    max-width: 1290px;
}